<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ALPRPlus_TargetDir=$(var.ALPRPlus.TargetDir)?>
  <Product Id="*" Name="ALPR+" Language="1033" Version="1.1.0.0" Manufacturer="Stealth22" UpgradeCode="e94840bc-412d-4493-899d-535a23c34644">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="RETAILDIR">
      <RegistrySearch Id="InstallPathRetail" Root="HKLM" Key="Software\Rockstar Games\Grand Theft Auto V" Name="InstallFolder" Win64="no" Type="raw" />
    </Property>

    <Property Id="STEAMDIR">
      <RegistrySearch Id="InstallPathSteam" Root="HKLM" Key="Software\Rockstar Games\GTAV" Name="InstallFolderSteam" Win64="no" Type="raw" />
    </Property>

    <Property Id="GTAFOUND" Value="no"></Property>

    <CustomAction Id="GetGTAFolder" Script="vbscript">
      <![CDATA[         
        valueSteam = Session.Property("STEAMDIR")
        valueRetail = Session.Property("RETAILDIR")
        
        If valueSteam <> "" Then
          If Right(valueSteam, 5) = "\GTAV" Then
            valueSteam = Left(valueSteam, Len(valueSteam) - 5) 
            Session.Property("STEAMDIR") = valueSteam
            
            Session.Property("GTAFOUND") = "yes"  
            Session.Property("INSTALLFOLDER") = valueSteam  
          End If
        Else
          If valueRetail <> "" Then
            Session.Property("GTAFOUND") = "yes"  
            Session.Property("INSTALLFOLDER") = valueRetail  
          End If
        End If
      ]]>
    </CustomAction>

    <Condition Message="You must have Administrator privileges to run this installation.">Privileged</Condition>

    <Condition Message="Grand Theft Auto V was not found on your system, or your installation is corrupt."><![CDATA[(RETAILDIR OR STEAMDIR) OR Installed]]></Condition>
    <!--<Condition Message="References to both the Retail and Steam copies of Grand Theft Auto V were found on your system. You will likely need to reinstall the game."><![CDATA[(RETAILDIR XOR STEAMDIR) OR Installed]]></Condition>-->

    <InstallExecuteSequence>
      <Custom Action="GetGTAFolder" Before="AppSearch">NOT REMOVE</Custom>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="ALPR+" Level="1">
      <ComponentGroupRef Id="Root_Files" />
      <ComponentGroupRef Id="LSPDFRPlugins_Files" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INSTALLFOLDER" Name="Grand Theft Auto V">
        <Directory Id="Plugins" Name="Plugins">
          <Directory Id="LSPDFRPlugins" Name="LSPDFR"></Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Root_Files" Directory="INSTALLFOLDER">
      <Component Id="ALPRPlus_README.txt" Guid="62696d91-57f0-4149-9e4f-4db09a04fb19">
        <File Id="ALPRPlus_README.txt" Name="ALPRPlus_README.txt" Source="$(var.ALPRPlus_TargetDir)ALPRPlus_README.txt" />
      </Component>
      <Component Id="Stealth.Common.dll" Guid="de960f93-0b50-497b-9a4d-c047878572b8" Permanent="yes">
        <File Id="Stealth.Common.dll" Name="Stealth.Common.dll" Source="$(var.ALPRPlus_TargetDir)Stealth.Common.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="LSPDFRPlugins_Files" Directory="LSPDFRPlugins">
      <Component Id="ALPRPlus.dll" Guid="cd2504a3-0c2b-44ea-a297-076c534129fb">
        <File Id="ALPRPlus.dll" Name="ALPRPlus.dll" Source="$(var.ALPRPlus_TargetDir)ALPRPlus.dll" />
      </Component>
      <Component Id="ALPRPlus.ini" Guid="cacd0ad2-79e8-4473-a941-1f597d9ea306">
        <File Id="ALPRPlus.ini" Name="ALPRPlus.ini" Source="$(var.ALPRPlus_TargetDir)ALPRPlus.ini" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>